/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .main {
   padding-bottom: 1rem;
 }

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.pageSection {
  margin-top: 2rem; 
  padding: 0 1rem;
  width: 100%;
}

.pageSection h2 {
  margin-top: 1rem;
}

@media (min-width: 576px){
  .pageSection {
    padding: 0 4rem;
  }
}

@media (min-width: 768px){
  .pageSection {
    padding: 0 6rem;
  }
}

@media (min-width: 992px){
  .pageSection {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px){
  .pageSection {
    padding: 0 16rem;
  }
}

.editLink {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.moreLink {
  display: block;
  margin-bottom: 20px !important;
}